:root {
    --bg-header:#ffffff;
    --text-hover-logo: #2196F3;
    --text-main:#212121;
    --text-p:#757575;
    --bg-hero:#2F303A;
    --team-bg:#F5F4FA;
    --bg-footer:#2F303A;
    --text-footer:#FFFFFF99;
 }

 