:root {
    --bg-header:#ffffff;
    --text-hover-logo: #2196F3;
    --text-main:#212121;
    --text-p:#757575;
    --bg-hero:#2F303A;
    --team-bg:#F5F4FA;
    --bg-footer:#2F303A;
    --text-footer:#FFFFFF99;
 }
 body {
     font-family: "Roboto", sans-serif;
 }
 .header-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
     font-size: 26px;
     letter-spacing: 0.8px;
     color: var(--text-hover-logo);
 }
.header-link {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.28px;

}
.footer-logo {
     font-family: "Raleway", sans-serif;
     text-decoration: none;
     font-weight: 700;
     font-size: 26px;
     letter-spacing: 0.8px;
}
.footer-link {
    text-decoration: none;
}
.hero-title {
    line-height: 1.4;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 2.64px;
   text-align: center;
    text-transform: uppercase;
}
.hero-btn {
    line-height: 1.88;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.96px;
   text-align: center;
    text-transform: uppercase;
}
.details-subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.details-text {
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.42px;
}
.srv-subtitle {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
   text-align: center;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
}
.team-role {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
   text-align: center;
}
.footer-item { 
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.42px; 
}
.portfolio-btn {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
   text-align: center;
}
.portfolio-title {
    line-height: 2;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.08px;
}
.portfolio-category {
    line-height: 1.88;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
}